## Comparison of clearsky models

In [1]:
import pandas as pd
import numpy as np
import feather
import pvlib
import sys
sys.path.append('..')
from src.utils.download_data import timer

In [2]:
DATA_PATH = '/home/SHARED/SOLAR/data/'

In [3]:
# read minute data and location info
df = pd.read_pickle(DATA_PATH + 'oahu_min_cs.pkl')

In [4]:
df.head()

,Radiation,GHI,GTI,Pysolar,Altitude,Ineichen,Haurwitz,Solis
Location,Datetime,,,,,,,
AP1,2010-03-19 14:15:00-10:00,476.328,NaN,973.629240,58.317632,840.960548,871.749955,907.496424
AP3,2010-03-19 14:15:00-10:00,382.777,NaN,973.625962,58.315987,841.600950,871.733426,907.477590
AP4,2010-03-19 14:15:00-10:00,351.610,NaN,973.624679,58.315343,841.594000,871.726958,907.470220
AP5,2010-03-19 14:15:00-10:00,390.092,NaN,973.630994,58.318513,841.628209,871.758798,907.506499
AP6,2010-03-19 14:15:00-10:00,353.928,343.313,973.628714,58.317368,841.615852,871.747297,907.493395

In [5]:
df.shape

(9058229, 7)

Replace negative values with 0

In [6]:
df['GHI'] = df['GHI'].where(df['GHI'] >= 0, other=0)

In [7]:
df1 = df.unstack(level='Location').between_time('7:30', '17:30').stack(level='Location')
df1.shape

(6041579, 7)

Compute Haurwitz and Kasten clearsky based on sun altitude:

    ghi_csm = 910 * math.sin(math.radians(altitude))`
    ghi_csm = 1098 * math.sin(math.radians(altitude)) * math.exp(-0.057 / (math.sin(math.radians(altitude))))`

In [8]:
df1['Kasten_UCM']   = 910 * np.sin(np.radians(df1['Altitude']))
df1['Haurwitz_UCM'] = 1098 * np.sin(np.radians(df1['Altitude'])) * np.exp(-0.057 / (np.sin(np.radians(df1['Altitude']))))

In [9]:
df1.describe().style

Statistics for the different clearsky models:
  * **Pysolar**: model from `pysolar` library
  * **Ineichen**: `pvlib`'s Ineichen model
  * **Haurwitz**: `pvlib`'s Haurwitz model
  * **Solis**: `pvlibs`'s simplified Solis model
  * **Haurwitz_UCM**: Haurwitz model computed using formula taken from UCM code
  * **Kasten_UCM**: Kasten model computed using formula taken from UCM code

We compute the main descriptive statistics plus the number of times the GHI is greater than the clearsky model. We also check if the clearsky model returns a GHI of 0 when the sensor has a value greater than 0 (`#CS=0`)

In [10]:
res = []
for clearsky in ('Pysolar', 'Ineichen', 'Haurwitz', 'Solis', 'Haurwitz_UCM', 'Kasten_UCM'):   
    name = 'GHI_{}'.format(clearsky)
    cs = df1.loc[~np.isclose(df1['GHI'], 0) &  np.isclose(df1[clearsky], 0), ['GHI', clearsky]]
    
    df1[name] = np.where(np.isclose(df1[clearsky], 0), 1, df1['GHI']/df1[clearsky])
    
    summ = df1[name].describe()
    q90, q99 = df1[name].quantile(q=[0.9, 0.99])
    per_gt_1, num_gt_1 = df1[name].gt(1).agg([np.mean, np.sum])
    
    summ['90%'] = q90
    summ['99%'] = q99
    summ['#>1'] = num_gt_1
    summ['%>1'] = per_gt_1
    summ['#CS=0'] = cs.shape[0]
    summ.name = clearsky
    res.append(summ)

pd.concat(res, axis=1, sort=False).style

For the `detect_clearsky()` function we need to do it per station and day (it does not support unequal differences in index)

In [11]:
with timer():
    cs = pvlib.clearsky.detect_clearsky(df1.loc[('2010-03-20', 'AP1'), 'GHI'], 
                                        df1.loc[('2010-03-20', 'AP1'), 'Pysolar'], 
                                        df1.loc[('2010-03-20', 'AP1'), 'GHI'].index.get_level_values('Datetime'), 
                                        10)

/home/atorres/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:1238: FutureWarning: Converting timezone-aware DatetimeArray to timezone-naive ndarray with 'datetime64[ns]' dtype. In the future, this will return an ndarray with 'object' dtype where each element is a 'pandas.Timestamp' with the correct 'tz'.
	To accept the future behavior, pass 'dtype=object'.
	To keep the old behavior, pass 'dtype="datetime64[ns]"'.
  a = asanyarray(a)

Elapsed time (s): 30.057247

In [12]:
df1.loc[('2010-03-20', 'AP1'), ['GHI', 'Pysolar']].loc[cs.to_numpy()].head()

Radiation                               GHI     Pysolar
Datetime                  Location
2010-03-20 14:09:00-10:00 AP1       936.701  974.431505
2010-03-20 14:10:00-10:00 AP1       934.499  974.101735
2010-03-20 14:11:00-10:00 AP1       931.564  973.767387
2010-03-20 14:12:00-10:00 AP1       933.399  973.428427
2010-03-20 14:13:00-10:00 AP1       934.866  973.084823

For this day and station, the function detects that the model is overestimating the irradiance and thus the clearsky model should probably be set to the maximum?

Finally, we go back to wide form, with one column per sensor, using the GHI normalized by the pysolar clearsky model:

In [16]:
(df1.pivot_table(index='Datetime', columns='Location', values='GHI_Pysolar')
    .drop(columns='AP3')
    .to_pickle(DATA_PATH + 'oahu_min_final.pkl'))