In [1]:
import pandas as pd
import numpy as np

In [2]:
PATH = '/home/SHARED/SOLAR/matrices'

In [3]:
X_train = pd.read_csv('{}/train_validation/X_tr_val.csv'.format(PATH))
y_train = pd.read_csv('{}/train_validation/Y_tr_val.csv'.format(PATH))

In [4]:
X_test = pd.read_csv('{}/test/X_test.csv'.format(PATH))
y_test = pd.read_csv('{}/test/Y_test.csv'.format(PATH))

In [5]:
X_train.shape

(1790808, 50)

In [6]:
y_train.shape

(1790808, 1)

In [7]:
X_train.head()

,ap1_rel_ns0,ap1_rel_ns1,ap1_rel_ns2,ap4_rel_ns0,ap4_rel_ns1,ap4_rel_ns2,ap5_rel_ns0,ap5_rel_ns1,ap5_rel_ns2,ap6_rel_ns0,...,dh9_rel_ns1,dh9_rel_ns2,dh10_rel_ns0,dh10_rel_ns1,dh10_rel_ns2,dh11_rel_ns0,dh11_rel_ns1,dh11_rel_ns2,elevation,azimut
0,0.52726,0.53004,0.53213,0.50775,0.51230,0.51711,0.52005,0.52365,0.52726,0.49682,...,0.50054,0.50100,0.53873,0.53988,0.54103,0.53131,0.53331,0.53445,0.18812,0.29707
1,0.52543,0.52726,0.53004,0.50390,0.50775,0.51230,0.51658,0.52005,0.52365,0.49263,...,0.50054,0.50054,0.53654,0.53873,0.53988,0.52869,0.53131,0.53331,0.18855,0.29704
2,0.52267,0.52543,0.52726,0.50031,0.50390,0.50775,0.51338,0.51658,0.52005,0.48871,...,0.49948,0.50054,0.53413,0.53654,0.53873,0.52732,0.52869,0.53131,0.18897,0.29701
3,0.52086,0.52267,0.52543,0.49753,0.50031,0.50390,0.51032,0.51338,0.51658,0.48543,...,0.49842,0.49948,0.53300,0.53413,0.53654,0.52448,0.52732,0.52869,0.18940,0.29697
4,0.51930,0.52086,0.52267,0.49499,0.49753,0.50031,0.50739,0.51032,0.51338,0.48254,...,0.49736,0.49842,0.53188,0.53300,0.53413,0.52276,0.52448,0.52732,0.18983,0.29694

In [8]:
y_train

               0
0        0.53151
1        0.53124
2        0.53012
3        0.52875
4        0.52703
5        0.52556
6        0.52446
7        0.52335
8        0.52141
9        0.51997
10       0.51865
11       0.51697
12       0.51554
13       0.51447
14       0.51341
15       0.51235
16       0.51095
17       0.50848
18       0.50638
19       0.50310
20       0.49961
21       0.49531
22       0.49032
23       0.48512
24       0.47924
25       0.47338
26       0.46778
27       0.46220
28       0.45734
29       0.45307
...          ...
1790778  0.89784
1790779  0.89531
1790780  0.90400
1790781  0.91281
1790782  0.91502
1790783  0.89667
1790784  0.89352
1790785  0.92234
1790786  0.93016
1790787  0.93143
1790788  0.93321
1790789  0.93289
1790790  0.92487
1790791  0.90377
1790792  0.88692
1790793  0.87646
1790794  0.87686
1790795  0.87220
1790796  0.86106
1790797  0.86335
1790798  0.86200
1790799  0.85362
1790800  0.83249
1790801  0.82965
1790802  0.84398
1790803  0.85918
1790804  0.88612
1790805  0.90216
1790806  0.89901
1790807  0.87583

[1790808 rows x 1 columns]