In [1]:
import pandas as pd
import numpy as np
import feather
import pvlib
import sys
sys.path.append('..')
from src.utils.download_data import timer

In [2]:
def clear_sky(df, info=None, model='ineichen'):
    ''' Compute the total direct radiation under a clear sky model.
    '''
    lat, lon = info.loc[df.name, ['Latitude', 'Longitude']]
    location = pvlib.location.Location(lat, lon, tz='Pacific/Honolulu')
    return(location.get_clearsky(df.index.get_level_values('Datetime'), model=model))

In [3]:
# read minute data and location info
df = (pd.read_pickle('/home/SHARED/SOLAR/data/oahu_min_norm.pkl')
        .set_index(['Datetime', 'Location']))

info = pd.read_csv('/home/SHARED/SOLAR/data/info.csv')

# normalize location names by removing "HL_"
info['Location'] = info['Location'].str.replace('(HL)?_', '')
info.set_index('Location', inplace=True)

In [4]:
df.head()

Radiation                                GH       GT    ClearSky
Datetime                  Location
2010-03-19 14:15:00-10:00 AP1       476.328      NaN  973.629240
                          AP3       382.777      NaN  973.625962
                          AP4       351.610      NaN  973.624679
                          AP5       390.092      NaN  973.630994
                          AP6       353.928  343.313  973.628714

In [5]:
with timer():
    CS = df.groupby('Location').apply(clear_sky, info=info, model='ineichen')

Elapsed time (s): 161.101768

In [6]:
with timer():
    HCS = df.groupby('Location').apply(clear_sky, info=info, model='haurwitz')

Elapsed time (s): 156.424363

In [7]:
with timer():
    SCS = df.groupby('Location').apply(clear_sky, info=info, model='simplified_solis')

Elapsed time (s): 157.428710

In [8]:
df['Ineichen'] =  CS.reorder_levels(['Datetime', 'Location'])['ghi']
df['Haurwitz'] = HCS.reorder_levels(['Datetime', 'Location'])['ghi']
df['Solis']    = SCS.reorder_levels(['Datetime', 'Location'])['ghi']

In [9]:
df.head()

Radiation                                GH       GT    ClearSky    Ineichen  \
Datetime                  Location
2010-03-19 14:15:00-10:00 AP1       476.328      NaN  973.629240  840.960548
                          AP3       382.777      NaN  973.625962  841.600950
                          AP4       351.610      NaN  973.624679  841.594000
                          AP5       390.092      NaN  973.630994  841.628209
                          AP6       353.928  343.313  973.628714  841.615852

Radiation                             Haurwitz       Solis
Datetime                  Location
2010-03-19 14:15:00-10:00 AP1       871.749955  907.496424
                          AP3       871.733426  907.477590
                          AP4       871.726958  907.470220
                          AP5       871.758798  907.506499
                          AP6       871.747297  907.493395

In [10]:
df.to_pickle('pvlib.pkl')

For the detect_clearsky function we need to do it per station and day (it does not support unequal differences in index)

In [41]:
with timer():
    cs = pvlib.clearsky.detect_clearsky(df.loc[('2010-03-20', 'AP1'), 'GH'], 
                                        df.loc[('2010-03-20', 'AP1'), 'Ineichen'], 
                                        df.loc[('2010-03-20', 'AP1'), 'GH'].index.get_level_values('Datetime'), 
                                        10)

/home/atorres/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:1238: FutureWarning: Converting timezone-aware DatetimeArray to timezone-naive ndarray with 'datetime64[ns]' dtype. In the future, this will return an ndarray with 'object' dtype where each element is a 'pandas.Timestamp' with the correct 'tz'.
	To accept the future behavior, pass 'dtype=object'.
	To keep the old behavior, pass 'dtype="datetime64[ns]"'.
  a = asanyarray(a)
/home/atorres/.local/lib/python3.6/site-packages/pvlib/clearsky.py:696: RuntimeWarning: invalid value encountered in true_divide
  meas_slope_nstd = np.std(meas_slope, axis=0, ddof=1) / meas_mean
/home/atorres/.local/lib/python3.6/site-packages/pvlib/clearsky.py:721: RuntimeWarning: invalid value encountered in less
  c4 = meas_slope_nstd < var_diff

Elapsed time (s): 122.697683

In [49]:
df.loc[('2010-03-20', 'AP1'), ['GH', 'Ineichen']].loc[cs.to_numpy()]

Radiation                                 GH    Ineichen
Datetime                  Location
2010-03-20 06:58:00-10:00 AP1        44.0718   14.337000
2010-03-20 06:59:00-10:00 AP1        47.3772   16.203300
2010-03-20 07:00:00-10:00 AP1        50.6826   18.179851
2010-03-20 07:01:00-10:00 AP1        54.3553   20.262922
2010-03-20 07:02:00-10:00 AP1        57.6608   22.448634
2010-03-20 07:03:00-10:00 AP1        60.9663   24.733024
2010-03-20 07:04:00-10:00 AP1        64.2717   27.112099
2010-03-20 07:05:00-10:00 AP1        68.3117   29.581878
2010-03-20 07:06:00-10:00 AP1        71.9845   32.138427
2010-03-20 07:07:00-10:00 AP1        75.6573   34.777885
2010-03-20 07:08:00-10:00 AP1        80.0640   37.496487
2010-03-20 07:09:00-10:00 AP1        84.1032   40.290573
2010-03-20 07:10:00-10:00 AP1        88.8765   43.156607
2010-03-20 07:11:00-10:00 AP1        92.5479   46.091172
2010-03-20 07:12:00-10:00 AP1        96.5864   49.090986
2010-03-20 07:13:00-10:00 AP1       100.6260   52.152901
2010-03-20 07:14:00-10:00 AP1       104.6650   55.273899
2010-03-20 07:15:00-10:00 AP1       108.7030   58.451093
2010-03-20 07:16:00-10:00 AP1       111.6400   61.681725
2010-03-20 07:17:00-10:00 AP1       114.5760   64.963164
2010-03-20 07:18:00-10:00 AP1       117.8800   68.292899
2010-03-20 07:19:00-10:00 AP1       120.8170   71.668538
2010-03-20 07:20:00-10:00 AP1       124.4890   75.087802
2010-03-20 07:21:00-10:00 AP1       128.1610   78.548522
2010-03-20 07:22:00-10:00 AP1       131.8330   82.048626
2010-03-20 07:23:00-10:00 AP1       135.5040   85.586149
2010-03-20 07:24:00-10:00 AP1       140.2770   89.159217
2010-03-20 07:25:00-10:00 AP1       144.3170   92.766046
2010-03-20 07:26:00-10:00 AP1       147.9900   96.404937
2010-03-20 07:27:00-10:00 AP1       152.3960  100.074271
...                                      ...         ...
2010-03-20 14:09:00-10:00 AP1       936.7010  853.468869
2010-03-20 14:10:00-10:00 AP1       934.4990  851.645111
2010-03-20 14:11:00-10:00 AP1       931.5640  849.802196
2010-03-20 14:12:00-10:00 AP1       933.3990  847.940163
2010-03-20 14:13:00-10:00 AP1       934.8660  846.059052
2010-03-20 14:14:00-10:00 AP1       934.1320  844.158903
2010-03-20 14:15:00-10:00 AP1       932.2980  842.239756
2010-03-20 14:16:00-10:00 AP1       931.9310  840.301651
2010-03-20 14:17:00-10:00 AP1       930.4630  838.344630
2010-03-20 14:18:00-10:00 AP1       931.1970  836.368736
2010-03-20 14:19:00-10:00 AP1       929.7290  834.374010
2010-03-20 14:20:00-10:00 AP1       925.3270  832.360495
2010-03-20 14:21:00-10:00 AP1       926.0600  830.328233
2010-03-20 14:22:00-10:00 AP1       931.1970  828.277268
2010-03-20 14:23:00-10:00 AP1       935.2330  826.207644
2010-03-20 14:24:00-10:00 AP1       939.2690  824.119404
2010-03-20 14:25:00-10:00 AP1       937.8010  822.012595
2010-03-20 14:26:00-10:00 AP1       930.4630  819.887260
2010-03-20 15:49:00-10:00 AP1       663.3590  584.332890
2010-03-20 15:50:00-10:00 AP1       656.3880  580.860064
2010-03-20 15:51:00-10:00 AP1       649.7830  577.374307
2010-03-20 15:52:00-10:00 AP1       644.2800  573.875709
2010-03-20 15:53:00-10:00 AP1       642.8120  570.364361
2010-03-20 15:54:00-10:00 AP1       636.5750  566.840357
2010-03-20 15:55:00-10:00 AP1       632.1720  563.303788
2010-03-20 15:56:00-10:00 AP1       624.8340  559.754749
2010-03-20 15:57:00-10:00 AP1       624.1000  556.193335
2010-03-20 15:58:00-10:00 AP1       619.6970  552.619639
2010-03-20 15:59:00-10:00 AP1       618.2300  549.033758
2010-03-20 16:00:00-10:00 AP1       617.1290  545.435791

[156 rows x 2 columns]