In [2]:
import pandas as pd
import numpy as np
import feather

df = feather.read_dataframe('/home/atorres/SHARED/SOLAR/data/oahu.feather')

df1 = (df.replace(to_replace=-99999.0, value=np.nan)
         .drop(columns=['Date', 'Seconds', 'Year', 'DOY', 'HST']))

In [3]:
print(df1.shape)
print(df1.isnull().mean())

(32022593, 20)
GH_DH3      0.001686
GH_DH4      0.001686
GH_DH5      0.001686
GH_DH10     0.001686
GH_DH11     0.001686
GH_DH9      0.001686
GH_DH2      0.001686
GH_DH1      0.002726
GT_DH1      0.002726
GH_AP6      0.000000
GT_AP6      0.000000
GH_AP1      0.000558
GH_AP3      0.315256
GH_AP5      0.000000
GH_AP4      0.000000
GH_AP7      0.001061
GH_DH6      0.001686
GH_DH7      0.001686
GH_DH8      0.001686
Datetime    0.000000
dtype: float64

In [4]:
df2 = (df1.set_index('Datetime')
          .ffill())

In [5]:
print(df2.isnull().mean())

GH_DH3     0.001686
GH_DH4     0.001686
GH_DH5     0.001686
GH_DH10    0.001686
GH_DH11    0.001686
GH_DH9     0.001686
GH_DH2     0.001686
GH_DH1     0.002726
GT_DH1     0.002726
GH_AP6     0.000000
GT_AP6     0.000000
GH_AP1     0.000000
GH_AP3     0.000000
GH_AP5     0.000000
GH_AP4     0.000000
GH_AP7     0.000000
GH_DH6     0.001686
GH_DH7     0.001686
GH_DH8     0.001686
dtype: float64

In [8]:
df2.index.hour.value_counts()

19    2134800
18    2134800
17    2134800
16    2134800
15    2134800
14    2134800
13    2134800
12    2134800
11    2134800
10    2134800
9     2134800
8     2134800
7     2134800
6     2134800
5     2134800
20        593
Name: Datetime, dtype: int64

In [55]:
df3 = df2.loc['2010-03-18':'2010-03-20', :].dropna().resample('min').first()
print(df3.shape)
print(df3.isnull().mean())

(1786, 19)
GH_DH3     0.301792
GH_DH4     0.301792
GH_DH5     0.301792
GH_DH10    0.301792
GH_DH11    0.301792
GH_DH9     0.301792
GH_DH2     0.301792
GH_DH1     0.301792
GT_DH1     0.301792
GH_AP6     0.301792
GT_AP6     0.301792
GH_AP1     0.301792
GH_AP3     0.301792
GH_AP5     0.301792
GH_AP4     0.301792
GH_AP7     0.301792
GH_DH6     0.301792
GH_DH7     0.301792
GH_DH8     0.301792
dtype: float64

In [28]:
df3 = df2.dropna().groupby(pd.Grouper(freq='min')).nth(0)

In [29]:
print(df3.shape)
print(df3.isnull().mean())

(532837, 19)
GH_DH3     0.0
GH_DH4     0.0
GH_DH5     0.0
GH_DH10    0.0
GH_DH11    0.0
GH_DH9     0.0
GH_DH2     0.0
GH_DH1     0.0
GT_DH1     0.0
GH_AP6     0.0
GT_AP6     0.0
GH_AP1     0.0
GH_AP3     0.0
GH_AP5     0.0
GH_AP4     0.0
GH_AP7     0.0
GH_DH6     0.0
GH_DH7     0.0
GH_DH8     0.0
dtype: float64

In [20]:
df3.index.hour.value_counts()

19    35520
18    35520
17    35520
16    35520
15    35520
14    35505
13    35460
12    35460
11    35460
10    35460
9     35460
8     35460
7     35460
6     35460
5     35460
20      592
Name: Datetime, dtype: int64

In [41]:
s = df1.set_index('Datetime').iloc[(100000-39-60):(100000-39-60+181), 0]

In [43]:
s.resample('min').first()

Datetime
2010-03-19 17:45:00    173.609
2010-03-19 17:46:00    168.891
2010-03-19 17:47:00    164.174
2010-03-19 17:48:00    159.456
Freq: T, Name: GH_DH3, dtype: float64

In [86]:
df4 = df2.loc['2010-03-19':'2010-03-20', 'GH_DH3']

In [87]:
df5 = df4.resample('min').first()

In [88]:
df6 = df4.groupby(pd.Grouper(freq='min')).nth(0)

In [90]:
print(df4.shape)
print(df4.isnull().mean())

print(df5.shape)
print(df5.isnull().mean())

print(df6.shape)
print(df6.isnull().mean())

print(df5.dropna().shape)

(108002,)
0.0
(2341,)
0.23024348568987613
(1802,)
0.0
(1802,)

In [92]:
df5.index.hour.value_counts()

5     120
7     120
12    120
14    120
16    120
18    120
6     120
8     120
10    120
9     120
11    120
13    120
15    120
17    120
19    120
20     61
2      60
4      60
23     60
22     60
21     60
1      60
3      60
0      60
Name: Datetime, dtype: int64

In [96]:
df5[df5.isnull()]

Datetime
2010-03-19 20:01:00   NaN
2010-03-19 20:02:00   NaN
2010-03-19 20:03:00   NaN
2010-03-19 20:04:00   NaN
2010-03-19 20:05:00   NaN
2010-03-19 20:06:00   NaN
2010-03-19 20:07:00   NaN
2010-03-19 20:08:00   NaN
2010-03-19 20:09:00   NaN
2010-03-19 20:10:00   NaN
2010-03-19 20:11:00   NaN
2010-03-19 20:12:00   NaN
2010-03-19 20:13:00   NaN
2010-03-19 20:14:00   NaN
2010-03-19 20:15:00   NaN
2010-03-19 20:16:00   NaN
2010-03-19 20:17:00   NaN
2010-03-19 20:18:00   NaN
2010-03-19 20:19:00   NaN
2010-03-19 20:20:00   NaN
2010-03-19 20:21:00   NaN
2010-03-19 20:22:00   NaN
2010-03-19 20:23:00   NaN
2010-03-19 20:24:00   NaN
2010-03-19 20:25:00   NaN
2010-03-19 20:26:00   NaN
2010-03-19 20:27:00   NaN
2010-03-19 20:28:00   NaN
2010-03-19 20:29:00   NaN
2010-03-19 20:30:00   NaN
                       ..
2010-03-20 04:30:00   NaN
2010-03-20 04:31:00   NaN
2010-03-20 04:32:00   NaN
2010-03-20 04:33:00   NaN
2010-03-20 04:34:00   NaN
2010-03-20 04:35:00   NaN
2010-03-20 04:36:00   NaN
2010-03-20 04:37:00   NaN
2010-03-20 04:38:00   NaN
2010-03-20 04:39:00   NaN
2010-03-20 04:40:00   NaN
2010-03-20 04:41:00   NaN
2010-03-20 04:42:00   NaN
2010-03-20 04:43:00   NaN
2010-03-20 04:44:00   NaN
2010-03-20 04:45:00   NaN
2010-03-20 04:46:00   NaN
2010-03-20 04:47:00   NaN
2010-03-20 04:48:00   NaN
2010-03-20 04:49:00   NaN
2010-03-20 04:50:00   NaN
2010-03-20 04:51:00   NaN
2010-03-20 04:52:00   NaN
2010-03-20 04:53:00   NaN
2010-03-20 04:54:00   NaN
2010-03-20 04:55:00   NaN
2010-03-20 04:56:00   NaN
2010-03-20 04:57:00   NaN
2010-03-20 04:58:00   NaN
2010-03-20 04:59:00   NaN
Freq: T, Name: GH_DH3, Length: 539, dtype: float64